@using ADSeek.Domain.Enums
@model ADSeek.Domain.Models.ActiveDirectoryUser

@{
    ViewBag.Title = $"Пользователь {Model.DisplayName}";

    var imageBytes = Model.Photo;
    var imageBase64 = $"data:image/gif;base64,{Convert.ToBase64String(imageBytes)}";
    
    Layout = "_Layout";
}

<h2>Пользователь @Model.SamAccountName</h2>

<hr/>

<div style="display: flex; justify-content: space-between">
    <table id="main-attributes-container">
        <tr>
            <td>
                @Html.LabelFor(model => model.DistinguishedName)
            </td>
            <td>
                @Html.EditorFor(model => model.DistinguishedName, new { htmlAttributes= new {@class="form-control", disabled="disabled"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Surname)
            </td>
            <td>
                @Html.EditorFor(model => model.Surname, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.GivenName)
            </td>
            <td>
                @Html.EditorFor(model => model.GivenName, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Initials)
            </td>
            <td>
                @Html.EditorFor(model => model.Initials, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DisplayName)
            </td>
            <td>
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Mail)
            </td>
            <td>
                @Html.EditorFor(model => model.Mail, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
    </table>
    @if (imageBytes.Any())
    {
        <div id="image-container" style="margin: 10px">
            <span style="margin: 5px">Фото профиля</span>
            <img src="@imageBase64" alt="photo" width="256" height="128"/>
            <div style="margin: 5px">
                @await Html.PartialAsync("ActiveDirectoryUserPhotoUpload", new ActiveDirectoryUserPhotoUploadModel() {DistinguishedName = Model.DistinguishedName})
            </div>
        </div>
    }
    else
    {
        <div style="margin: 5px">
             @await Html.PartialAsync("ActiveDirectoryUserPhotoUpload", new ActiveDirectoryUserPhotoUploadModel(){DistinguishedName = Model.DistinguishedName})
        </div>
    }
</div>
<hr/>
<h5>Прочие атрибуты</h5>
<div>
    <table id="other-attributes-container">
        <tr>
            <td>
                @Html.LabelFor(model => model.ObjectGuid)
            </td>
            <td>
                @Html.EditorFor(model => model.ObjectGuid, new { htmlAttributes= new {@class="form-control", disabled ="disabled"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MemberOf)
            </td>
            <td>
                @(string.Join(";\n\n", Model.MemberOf))
            </td>
        </tr>
    </table>
</div>