@using ADSeek.Domain.Enums
@using MvcEnumFlags
@model ADSeek.Domain.Models.ActiveDirectoryUser

@{
    ViewBag.Title = $"Пользователь {Model.DisplayName}";

    var imageBytes = Model.Photo;
    var imageBase64 = $"data:image/gif;base64,{Convert.ToBase64String(imageBytes)}";
    
    Layout = "_Layout";
}

<h2>Пользователь @Model.SamAccountName</h2>

<hr/>

<div>
    <table id="main-attributes-container">
        <tr>
            <td>
                @Html.LabelFor(model => model.DistinguishedName)
            </td>
            <td>
                @Html.EditorFor(model => model.DistinguishedName, new { htmlAttributes= new {@class="form-control", disabled=true}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Surname)
            </td>
            <td>
                @Html.EditorFor(model => model.Surname, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.GivenName)
            </td>
            <td>
                @Html.EditorFor(model => model.GivenName, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Initials)
            </td>
            <td>
                @Html.EditorFor(model => model.Initials, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DisplayName)
            </td>
            <td>
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Mail)
            </td>
            <td>
                @Html.EditorFor(model => model.Mail, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Photo)
            </td>
            <td>
                @Html.EditorFor(model => model.Photo, new { htmlAttributes= new {@class="form-control"}})
            </td>
        </tr>
    </table>
    <div id="image-container">
        <img src="@imageBase64" alt="photo"/>
    </div>
</div>
<hr/>
<h4>Прочие атрибуты</h4>
<div>
    <table id="other-attributes-container">
        
    </table>
</div>